<section class="pt-24 pb-6 xl:pt-44 xl:pb-0">
  <div class="main-container">
    <div
      data-opai-animate
      data-delay="0.02"
      class="overflow-hidden rounded-xl bg-[url('/images/gradient/opai-37.jpg')] bg-cover bg-center bg-no-repeat p-2 bg-blend-lighten"
    >
        <div class="bg-background-6 rounded-lg px-3.5 py-20 lg:px-0 xl:py-39">
        <div class="text-center">
          <div>
            <h1
              data-opai-split-text
              class="font-sora inline-block text-[60px] leading-[70px] font-normal text-white/90 sm:text-[120px] sm:leading-[180px] md:text-[160px] xl:text-[200px] xl:leading-[240px] xl:tracking-[-10px]"
            >
              40 <span class="text-white/30">4</span>
            </h1>
          </div>
          <div>
            <h2
              data-opai-split-text
              class="lg:text-sora-heading-2 sm:text-sora-heading-4 text-sora-heading-5 mb-3 inline-block font-normal text-white/90"
            >
              Oops! Page<br class="hidden md:block" />
              <span class="text-white/30">Not Found</span>
            </h2>
          </div>
          <p
            data-opai-split-text
            data-delay="0.2"
            data-line-delay="0.1"
            class="text-tagline-2 mx-auto max-w-xs font-normal text-white/60"
          >
            The page doesn’t exist or was moved. Don’t worry, we’ll guide you back.
          </p>
          <div
            data-opai-animate
            data-delay="0.1"
            class="mt-10 flex justify-center text-center lg:mt-18"
          >
            <Component
              src="src/components/shared/button-primary.htm"
              button-text="Back to Home"
              href="/"
              anchor-class="w-auto"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

