<div class="{=$display-class} button-split-text-wrapper inline-block">
  <a
    href="{=$href}"
    class="group bg-background-7 hover:border-stroke-3 {=$class} relative flex max-h-12 cursor-pointer items-center justify-center overflow-hidden rounded-full border border-transparent px-6 py-[11px] transition-all duration-300 ease-in-out"
  >
    <div class="relative overflow-hidden">
      <div class="h-5.5">
        <div
          class="text-background-5 font-ibm-plex-mono button-split-upper-text text-tagline-2 block leading-[1.4] font-medium text-nowrap"
        >
          {=$button-text}
        </div>
      </div>
      <div class="absolute h-5.5">
        <div
          class="text-background-5 font-ibm-plex-mono button-split-lower-text text-tagline-2 block leading-[1.4] font-medium text-nowrap"
        >
          {=$button-text}
        </div>
      </div>
    </div>
  </a>
</div>
