<span class="flex items-center justify-center gap-x-1" aria-label="Rating stars">
  <Component
    src="src/components/shared/icon/star.htm"
    class="{=$star-class} size-2.5"
    aria-hidden="true"
  />
  <Component
    src="src/components/shared/icon/star.htm"
    class="{=$star-class} size-2.5"
    aria-hidden="true"
  />
  <Component
    src="src/components/shared/icon/star.htm"
    class="{=$star-class} size-2.5"
    aria-hidden="true"
  />
  <Component
    src="src/components/shared/icon/star.htm"
    class="{=$star-class} size-2.5"
    aria-hidden="true"
  />
  <Component
    src="src/components/shared/icon/star.htm"
    class="{=$star-class} size-2.5"
    aria-hidden="true"
  />
</span>
