<div>
  <div
    class="dropdown-menu-bridge pointer-events-none absolute top-full left-1/2 z-40 h-10 w-full min-w-[320px] -translate-x-1/2 bg-transparent opacity-0"
  ></div>

  <ul
    id="partnership-dropdown-menu"
    class="dropdown-menu border-stroke-2/40 pointer-events-none absolute top-full left-1/2 z-50 mt-6 w-[320px] -translate-x-1/2 rounded-lg border bg-white p-3 opacity-0 transition-all duration-300"
  >
    <li>
      <a
        href="#"
        class="group relative flex items-start gap-3 rounded-[10px] p-3 transition-all duration-300"
      >
        <Component
          src="src/components/shared/hover-bg-transform.htm"
          class="group-hover:bg-background-2/10"
        />
        <div
          class="border-stroke-2/40 group-hover:border-stroke-3/40 relative z-10 flex size-11 items-center justify-center rounded-[10px] border bg-white p-3 transition-all duration-300"
        >
          <Component src="src/components/shared/menu-icon/affiliate-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-2 font-manrope font-normal">Affiliate</p>
          <p class="text-tagline-4 font-inter-tight font-normal">Partner program</p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="#"
        class="group relative flex items-start gap-3 rounded-[10px] p-3 transition-all duration-300"
      >
        <Component
          src="src/components/shared/hover-bg-transform.htm"
          class="group-hover:bg-background-2/10"
        />
        <div
          class="border-stroke-2/40 group-hover:border-stroke-3/40 relative z-10 flex size-11 items-center justify-center rounded-[10px] border bg-white p-3 transition-all duration-300"
        >
          <Component src="src/components/shared/menu-icon/referral-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-2 font-manrope font-normal">Referral</p>
          <p class="text-tagline-4 font-inter-tight font-normal">Invite and get rewards</p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./login.html"
        class="group relative flex items-start gap-3 rounded-[10px] p-3 transition-all duration-300"
      >
        <Component
          src="src/components/shared/hover-bg-transform.htm"
          class="group-hover:bg-background-2/10"
        />
        <div
          class="border-stroke-2/40 group-hover:border-stroke-3/40 relative z-10 flex size-11 items-center justify-center rounded-[10px] border bg-white p-3 transition-all duration-300"
        >
          <Component src="src/components/shared/menu-icon/login-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-2 font-manrope font-normal">Login</p>
          <p class="text-tagline-4 font-inter-tight font-normal">Enter your account</p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./signup.html"
        class="group relative flex items-start gap-3 rounded-[10px] p-3 transition-all duration-300"
      >
        <Component
          src="src/components/shared/hover-bg-transform.htm"
          class="group-hover:bg-background-2/10"
        />
        <div
          class="border-stroke-2/40 group-hover:border-stroke-3/40 relative z-10 flex size-11 items-center justify-center rounded-[10px] border bg-white p-3 transition-all duration-300"
        >
          <Component src="src/components/shared/menu-icon/signin-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-2 font-manrope font-normal">Create Account</p>
          <p class="text-tagline-4 font-inter-tight font-normal">Join community</p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="#"
        class="group relative flex items-start gap-3 rounded-[10px] p-3 transition-all duration-300"
      >
        <Component
          src="src/components/shared/hover-bg-transform.htm"
          class="group-hover:bg-background-2/10"
        />
        <div
          class="border-stroke-2/40 group-hover:border-stroke-3/40 relative z-10 flex size-11 items-center justify-center rounded-[10px] border bg-white p-3 transition-all duration-300"
        >
          <Component src="src/components/shared/menu-icon/dawnload-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-2 font-manrope font-normal">Download</p>
          <p class="text-tagline-4 font-inter-tight font-normal">Download now</p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="#"
        class="group relative flex items-start gap-3 rounded-[10px] p-3 transition-all duration-300"
      >
        <Component
          src="src/components/shared/hover-bg-transform.htm"
          class="group-hover:bg-background-2/10"
        />
        <div
          class="border-stroke-2/40 group-hover:border-stroke-3/40 relative z-10 flex size-11 items-center justify-center rounded-[10px] border bg-white p-3 transition-all duration-300"
        >
          <Component src="src/components/shared/menu-icon/integration-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-2 font-manrope font-normal">Integration</p>
          <p class="text-tagline-4 font-inter-tight font-normal">Connect integrations</p>
        </div>
      </a>
    </li>
  </ul>
</div>
