<div>
  <div
    class="dropdown-menu-bridge pointer-events-none absolute top-full left-1/2 z-40 h-10 w-full min-w-[280px] -translate-x-1/2 bg-transparent opacity-0"
  ></div>
  <div
    id="resources-mega-menu"
    class="dropdown-menu border-stroke-3/20 bg-background-14 pointer-events-none absolute top-full left-1/2 z-50 mt-2 w-[280px] -translate-x-1/2 rounded-[20px] border p-4 opacity-0 transition-all duration-300"
  >
    <ul class="w-full space-y-2">
      <li>
        <a
          href="./projects.html"
          class="group relative flex items-start gap-3 rounded-[10px] p-3 transition-all duration-300"
        >
          <Component
            src="src/components/shared/hover-bg-transform.htm"
            class="group-hover:bg-background-3"
          />
          <div class="relative z-10 mt-1">
            <Component
              src="src/components/shared/menu-icon/tutorial-icon.htm"
              class="!stroke-background-7"
            />
          </div>
          <div class="relative z-10 space-y-0.5">
            <p class="text-tagline-2 font-sora text-background-7 font-normal">Projects</p>
          </div>
        </a>
      </li>
      <li>
        <a
          href="./faq.html"
          class="group relative flex items-start gap-3 rounded-[10px] p-3 transition-all duration-300"
        >
          <Component
            src="src/components/shared/hover-bg-transform.htm"
            class="group-hover:bg-background-3"
          />
          <div class="relative z-10 mt-1">
            <Component
              src="src/components/shared/menu-icon/faq-icon.htm"
              class="!stroke-background-7"
            />
          </div>
          <div class="relative z-10 space-y-0.5">
            <p class="text-tagline-2 font-sora text-background-7 font-normal">FAQ</p>
          </div>
        </a>
      </li>
      <li>
        <a
          href="./contact.html"
          class="group relative flex items-start gap-3 rounded-[10px] p-3 transition-all duration-300"
        >
          <Component
            src="src/components/shared/hover-bg-transform.htm"
            class="group-hover:bg-background-3"
          />
          <div class="relative z-10 mt-1">
            <Component
              src="src/components/shared/menu-icon/contact-icon.htm"
              class="!stroke-background-7"
            />
          </div>
          <div class="relative z-10 space-y-0.5">
            <p class="text-tagline-2 font-sora text-background-7 font-normal">Contact</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
