<figure class="absolute top-0 left-0 size-full">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="283"
    height="197"
    viewBox="0 0 283 197"
    fill="none"
  >
    <g filter="url(#filter0_f_9805_101093)">
      <path
        d="M243.755 2.32552C275.022 48.06 127.176 14.2046 75.6406 57.9165C26.943 91.2101 -42.6327 197.411 -73.9004 151.677C-105.168 105.942 -27.4704 -1.58272 21.2272 -34.8763C69.9249 -68.1699 212.487 -43.4089 243.755 2.32552Z"
        fill="url(#paint0_linear_9805_101093)"
      />
    </g>
    <defs>
      <filter
        id="filter0_f_9805_101093"
        x="-115.109"
        y="-84.2188"
        width="397.164"
        height="281.152"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="17" result="effect1_foregroundBlur_9805_101093" />
      </filter>
      <linearGradient
        id="paint0_linear_9805_101093"
        x1="12.5123"
        y1="-28.9181"
        x2="109.479"
        y2="112.912"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#219ebd" stop-opacity="0.14" />
        <stop offset="1" stop-color="#219ebd" stop-opacity="0" />
      </linearGradient>
    </defs>
  </svg>
</figure>
