<!-- ============================= CTA V2 ============================= -->
<section class="bg-background-6 py-10 md:py-28 lg:py-30 xl:py-39">
  <div class="main-container">
    <div
      class="bg-background-5 relative flex items-center justify-between overflow-hidden rounded-lg p-7 lg:p-20 xl:p-[100px]"
    >
      <div class="space-y-1.5 sm:max-w-[400px] lg:max-w-[567px] lg:space-y-3">
        <h2
          class="font-sora md:text-sora-heading-3 text-sora-heading-4 max-md:-leading-[110%] lg:text-sora-heading-2 font-normal"
          data-opai-split-text
        >
          <span class="font-normal text-white/90"> Let AI Handle </span>
          <span class="text-white/30"> the Heavy Work. </span>
        </h2>
        <p
          class="text-tagline-2 font-inter-tight text-white/60"
          data-opai-split-text
          data-delay="0.3"
          data-line-delay="0.1"
        >
          From custom LLM chatbots to end-to-end workflow automation — enterprise AI built for Pakistan and Gulf markets.
        </p>
        <div class="mt-6 md:mt-12" data-opai-animate data-delay="0.6" data-duration="0.7">
          <Component
            src="src/components/shared/button-primary.htm"
            button-text="Start a Project"
            href="./contact.html"
          />
        </div>
      </div>

      <div class="cta-v2-images-wrapper">
        <figure
          class="cta-v2-image-1 absolute right-0 -bottom-1 z-3 max-h-[406px] max-w-[120px] overflow-hidden sm:max-w-[150px] md:max-w-[250px] md:rounded-xl lg:right-5 lg:max-w-[320px] xl:right-25 xl:max-w-[360px]"
        >
          <img src="./images/opai-img-120.jpg" alt="cta-v2" class="size-full object-cover"
                  loading="lazy" />
        </figure>
        <figure
          class="cta-v2-image-2 absolute right-26 -bottom-3 z-2 hidden max-h-[345px] max-w-[130px] -rotate-[15deg] overflow-hidden sm:block md:max-w-[220px] md:rounded-xl lg:right-40 lg:max-w-[280px] xl:right-60 xl:max-w-[317px]"
        >
          <img src="./images/opai-img-121.jpg" alt="cta-v2" class="size-full object-cover"
                  loading="lazy" />
        </figure>
        <figure
          class="cta-v2-image-3 absolute right-50 bottom-0 z-1 hidden max-h-[261px] max-w-[190px] -rotate-[30deg] overflow-hidden rounded-xl md:block lg:right-100 lg:max-w-[150px] xl:max-w-[226px]"
        >
          <img src="./images/opai-img-122.jpg" alt="cta-v2" class="size-full object-cover"
                  loading="lazy" />
        </figure>
      </div>
    </div>
  </div>
</section>
