<!-- our impact section  -->

<section
  class="our-impact-section bg-background-7 pt-20 pb-20 md:pt-28 md:pb-28 lg:pt-50 xl:pb-44"
  aria-labelledby="impact-heading"
>
  <div class="main-container">
    <div class="space-y-10 md:space-y-12 lg:space-y-20">
      <!-- content  -->
      <div class="text-center">
        <h2
          data-opai-split-text
          class="font-sora lg:text-sora-heading-2 md:text-sora-heading-3 text-sora-heading-4 font-normal max-md:leading-[110%]"
        >
          <span class="text-background-13/90 font-normal"> Trusted by </span>
          <span class="text-background-13/50"> Enterprise Leaders </span>
        </h2>
      </div>

      <!-- cards  -->
      <div
        class="grid grid-cols-12 items-center justify-center gap-x-8 gap-y-8 lg:gap-x-2 xl:gap-x-8"
        aria-label="Impact statistics cards"
      >
        <!-- card one  -->
        <div class="col-span-12 md:col-span-6 lg:col-span-4">
          <div
            data-opai-animate
            data-delay="0.2"
            class="border-stroke-3/18 relative h-[420px] max-w-[409px] basis-[409px] rounded-lg border bg-white px-10.5 pt-[27px] pb-10.5 max-md:mx-auto lg:px-5 xl:px-10.5"
            aria-label="Successful projects statistics"
          >
            <!-- image group  -->
            <div class="relative h-[294px] w-full max-w-[324px]">
              <!-- overlay  -->
              <div
                class="pointer-events-none absolute inset-0 z-20 h-[294px] max-w-[409px] bg-gradient-to-b from-transparent from-[10.09%] to-[#FFF] to-[90.05%] select-none md:to-[80.05%]"
              ></div>
              <figure
                class="our-impact-image border-stroke-1/11 absolute top-[130px] right-[34px] h-[143px] w-[188px] rotate-12 overflow-hidden rounded-[2px] border"
              >
                <img
                  src="./images/opai-img-99.png"
                  alt="Project showcase img 3 - demonstrating successful project outcomes"
                  class="size-full object-cover"
                  loading="lazy"
                />
              </figure>

              <figure
                class="our-impact-image border-stroke-1/11 absolute top-[19px] right-[36px] h-[138px] w-[188px] -rotate-12 overflow-hidden rounded-[2px] border"
              >
                <img
                  src="./images/opai-img-97-light.png"
                  alt="Project showcase img 1 - demonstrating successful project outcomes"
                  class="size-full object-cover"
                  loading="lazy"
                />
              </figure>

              <figure
                class="our-impact-image border-stroke-1/11 absolute top-[77px] left-[19px] h-[154px] w-[188px] -rotate-8 overflow-hidden rounded-[2px] border"
              >
                <img
                  src="./images/opai-img-98-light.png"
                  alt="Project showcase img 2 - demonstrating successful project outcomes"
                  class="size-full object-cover"
                  loading="lazy"
                />
              </figure>
            </div>

            <!-- text content  -->
            <div
              class="absolute bottom-10.5 left-1/2 z-30 -translate-x-1/2 space-y-[30.5px] text-center"
            >
              <span class="flex items-center justify-center">
                <Component
                  src="src/components/shared/icon/clip-board.htm"
                  class="stroke-opai-purple shrink-0"
                />
              </span>
              <div class="text-center">
                <h3
                  class="font-sora text-sora-heading-3 flex items-center justify-center font-normal text-black"
                  aria-label="500 plus successful projects"
                >
                  <span
                    data-counter
                    data-number="500"
                    data-speed="2000"
                    data-interval="200"
                    data-rooms="3"
                    data-height-space="1.7"
                    >500</span
                  >+
                </h3>
                <p class="font-inter-tight text-tagline-2 text-background-13/50 font-normal">
                  Projects Delivered
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- card two  -->
        <div class="col-span-12 md:col-span-6 lg:col-span-4">
          <div
            data-opai-animate
            data-delay="0.3"
            class="border-stroke-3/18 relative h-[420px] w-full max-w-[409px] overflow-hidden rounded-lg border bg-white px-10.5 pt-[57px] pb-10.5 max-md:mx-auto"
            aria-label="Client satisfaction statistics"
          >
            <!-- images  -->
            <Component src="src/components/home/our-impact-card-two-reviews.htm" />
            <div
              class="pointer-events-none absolute bottom-0 left-0 z-20 h-[324px] w-full bg-gradient-to-b from-transparent from-[10.09%] to-[#FFF] to-[60.6%] select-none"
              aria-hidden="true"
            ></div>
            <!-- text content  -->
            <div class="absolute bottom-10.5 left-1/2 z-30 -translate-x-1/2">
              <div class="flex flex-col items-center justify-center gap-y-6">
                <!-- star  -->
                <Component
                  src="src/components/shared/our-itpact-card-star.htm"
                  star-class="fill-opai-purple size-4
                  "
                />

                <div class="text-center">
                  <h3
                    class="font-sora text-sora-heading-3 flex items-center justify-center font-normal text-black"
                    aria-label="100 plus enterprise clients"
                  >
                    <span
                      data-counter
                      data-number="100"
                      data-speed="2000"
                      data-interval="200"
                      data-rooms="3"
                      data-height-space="1.9"
                      >100</span
                    >+
                  </h3>
                  <p class="font-inter-tight text-tagline-2 text-background-13/50 font-normal">
                    Enterprise Clients
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- card three  -->
        <div class="col-span-12 md:col-span-6 md:col-start-4 lg:col-span-4 lg:col-start-auto">
          <div
            data-opai-animate
            data-delay="0.4"
            class="border-stroke-3/18 relative h-[420px] w-full max-w-[409px] rounded-lg border bg-white p-4 max-md:mx-auto min-[1050px]:!p-4.5 min-[1100px]:!p-5 min-[1200px]:!p-10.5 sm:p-10.5 md:p-4 lg:p-2"
            aria-label="Process workflow visualization"
          >
            <!-- overlay  -->
            <div
              class="pointer-events-none absolute bottom-0 left-0 z-20 h-[334px] w-full bg-gradient-to-b from-transparent from-[10.09%] to-[#FFF] to-[99.05%] select-none"
            ></div>

            <!-- svg pills  -->
            <div
              class="features-integration-pill relative top-[62px] mx-auto h-21 w-full max-w-[324px]"
              data-dot-color="black"
            >
              <!-- LEFT pill -->
              <div class="absolute top-1/2 left-0 h-7 -translate-y-1/2">
                <div
                  class="border-stroke-1/11 bg-background-5 flex items-center justify-center gap-x-1 rounded-full border px-[14px] py-[5px]"
                >
                  <span class="bg-opai-blue h-2 w-2 rounded-full"></span>
                  <span class="text-tagline-4 font-inter-tight font-normal text-white/50"
                    >Sync</span
                  >
                </div>
              </div>

              <!-- CENTER TOP pill -->
              <div class="absolute left-1/2 h-7 -translate-x-1/2">
                <div
                  class="border-stroke-1/11 bg-background-5 flex w-24 items-center justify-start gap-x-1 rounded-full border px-[14px] py-[5px]"
                >
                  <span class="bg-opai-purple h-2 w-2 rounded-full"></span>
                  <span class="text-tagline-4 font-inter-tight font-normal text-white/50"
                    >Process</span
                  >
                </div>
              </div>

              <!-- CENTER BOTTOM pill -->
              <div class="absolute bottom-0 left-1/2 h-7 -translate-x-1/2">
                <div
                  class="border-stroke-1/11 bg-background-5 flex w-24 items-center justify-start gap-x-1 rounded-full border px-[14px] py-1.5"
                >
                  <span class="bg-opai-purple h-2 w-2 rounded-full"></span>
                  <span class="text-tagline-4 font-inter-tight font-normal text-white/50"
                    >Flow</span
                  >
                </div>
              </div>

              <!-- RIGHT pill -->
              <div class="absolute top-1/2 right-0 h-7 -translate-y-1/2">
                <div
                  class="border-stroke-1/11 bg-background-5 flex items-center justify-center gap-x-1 rounded-full border px-[14px] py-[5px]"
                >
                  <span class="bg-opai-purple h-2 w-2 rounded-full"></span>
                  <span class="text-tagline-4 font-inter-tight font-normal text-white/50"
                    >Grow</span
                  >
                </div>
              </div>

              <!-- svg lines connector -->
              <!-- Left → Process -->
              <svg
                class="absolute top-[20px] left-[65px] h-6 w-[52px] lg:left-12 xl:left-[65px]"
                xmlns="http://www.w3.org/2000/svg"
                width="59"
                height="25"
                viewBox="0 0 59 25"
                fill="none"
                aria-hidden="true"
              >
                <path
                  class="connector"
                  d="M0.832031 24.5H26.9087C34.1358 24.5 40.9781 21.2433 45.5355 15.6342L57.832 0.5"
                  stroke="#7C8EA5"
                  stroke-opacity="0.18"
                />
              </svg>

              <!-- Left → Flow -->
              <svg
                class="absolute top-[43px] left-[65px] h-6 w-[57px] lg:left-12 xl:left-[65px]"
                xmlns="http://www.w3.org/2000/svg"
                width="59"
                height="32"
                viewBox="0 0 59 32"
                fill="none"
                aria-hidden="true"
              >
                <path
                  class="connector"
                  d="M0.332031 0.5H24.87C32.9592 0.5 40.5041 4.57491 44.9399 11.3394L57.832 31"
                  stroke="#7C8EA5"
                  stroke-opacity="0.18"
                />
              </svg>

              <!-- Process → Right -->
              <svg
                class="absolute top-[19px] right-[69px] h-[55px] w-12 lg:right-[52px] xl:right-[69px]"
                xmlns="http://www.w3.org/2000/svg"
                width="59"
                height="56"
                viewBox="0 0 59 56"
                fill="none"
                aria-hidden="true"
              >
                <path
                  class="connector"
                  d="M58.332 24.5H32.2553C25.0282 24.5 18.1859 21.2433 13.6286 15.6342L1.33203 0.5"
                  stroke="#7C8EA5"
                  stroke-opacity="0.18"
                />
                <path
                  class="connector"
                  d="M58.832 24.5H34.2941C26.2049 24.5 18.66 28.5749 14.2242 35.3394L1.33203 55"
                  stroke="#7C8EA5"
                  stroke-opacity="0.18"
                />
              </svg>
            </div>

            <!-- text content  -->

            <div class="absolute bottom-10.5 left-1/2 z-30 -translate-x-1/2">
              <div class="flex flex-col items-center justify-center gap-y-6">
                <span class="flex size-[52px] items-center justify-center">
                  <Component
                    src="src/components/shared/icon/timer.htm"
                    class="stroke-opai-purple"
                  />
                </span>

                <div class="text-center">
                  <h3
                    class="font-sora text-sora-heading-3 flex items-center justify-center font-normal text-black"
                    aria-label="15 plus years experience"
                  >
                    <span
                      data-counter
                      data-number="15"
                      data-speed="2000"
                      data-interval="200"
                      data-rooms="2"
                      data-height-space="1.9"
                      >15</span
                    >+
                  </h3>
                  <p class="font-inter-tight text-tagline-2 text-background-13/50 font-normal">
                    Years Experience
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
