<section class="overflow-hidden pt-[70px] pb-39">
  <div class="main-container">
    <div
      class="flex flex-col items-start justify-center gap-y-14 xl:flex-row xl:gap-x-14 2xl:gap-x-25"
    >
      <div class="flex-auto space-y-[70px]">
        <div
          class="text-tagline-2 space-y-6 font-normal text-white/60"
          data-opai-animate
          data-delay="0.1"
        >
          <p>
            We’re redefining the online shopping experience through the power of artificial
            intelligence. By combining data-driven insights with creative strategy, we help brands
            understand their customers, personalize every interaction, and optimize performance at
            scale.
          </p>

          <p>
            From predictive analytics to smart recommendations, our AI-powered solutions enable
            e-commerce businesses to make sharper decisions, drive conversions, and deliver seamless
            user experiences that keep shoppers coming back.
          </p>

          <p>
            Innovation meets precision — where every click, every journey, and every purchase is
            guided by intelligent design.
          </p>
        </div>
        <div data-opai-animate data-delay="0.2">
          <h2 class="lg:text-sora-heading-5 text-sora-heading-6 mb-6 font-normal text-white">
            Challenge:
          </h2>
          <p class="lg:text-sora-heading-5 text-sora-heading-6 mb-1 font-normal text-white/80">
            To create a smarter shopping experience
          </p>
          <p class="text-tagline-2 mb-4 font-normal text-white/60">
            Our client, a top-tier e-commerce brand, faced critical challenges:
          </p>
          <ul class="mb-2 list-inside list-disc space-y-2">
            <li class="text-tagline-2 font-normal text-white/60">
              <span class="text-tagline-1 font-normal text-white/80">Low conversion rates: </span>
              Despite high traffic, the website struggled to convert visitors into customers.
            </li>
            <li class="text-tagline-2 font-normal text-white/60">
              <span class="text-tagline-1 font-normal text-white/80">Static pricing models: </span>
              Limited flexibility in adapting to market trends and customer demand.
            </li>
            <li class="text-tagline-2 font-normal text-white/60">
              <span class="text-tagline-1 font-normal text-white/80">Lack of insights: </span>
              Difficulty in predicting customer behavior to optimize offerings.
            </li>
          </ul>
          <p class="text-tagline-2 font-normal text-white/60">
            Implement intelligent solutions that adapt in real time to customer needs and market
            changes.
          </p>
        </div>
        <div data-opai-animate data-delay="0.3">
          <h2 class="lg:text-sora-heading-5 text-sora-heading-6 mb-6 font-normal text-white">
            Our solution:
          </h2>
          <p class="lg:text-sora-heading-5 text-sora-heading-6 mb-1 font-normal text-white/80">
            Harnessing AI to drive results
          </p>
          <p class="text-tagline-2 mb-4 font-normal text-white/60">
            To address these challenges, we implemented:
          </p>
          <ul class="mb-2 list-inside list-disc space-y-2">
            <li class="text-tagline-2 font-normal text-white/60">
              <span class="text-tagline-1 font-normal text-white/80"
                >Personalized Suggestions -
              </span>
              AI analyzed behavior to recommend relevant products.
            </li>
            <li class="text-tagline-2 font-normal text-white/60">
              <span class="text-tagline-1 font-normal text-white/80">Dynamic Pricing – </span>
              Real-time price adjustments boosted profitability
            </li>
            <li class="text-tagline-2 font-normal text-white/60">
              <span class="text-tagline-1 font-normal text-white/80">Predictive Insights – </span>
              Predictive Insights – Analytics guided smarter marketing and inventory decisions.
            </li>
          </ul>
        </div>
        <div
          class="relative min-h-[482px] overflow-hidden rounded-lg p-6"
          data-opai-animate
          data-delay="0.04"
        >
          <figure class="absolute inset-0 size-full">
            <img
              src="./images/gradient/opai-38.jpg"
              alt="gradient"
              class="size-full object-cover"
                  loading="lazy"
            />
          </figure>
          <div
            class="relative z-10 flex h-full flex-col items-start gap-y-5 md:flex-row md:gap-x-6"
          >
            <div class="h-full flex-1" data-opai-animate data-delay="0.1" data-direction="left">
              <div
                class="border-stroke-1/11 bg-background-13/90 h-full rounded-sm border px-6 py-8"
                style="background-color: #0c131a;"
              >
                <p class="text-sora-heading-5 mb-8 font-normal text-white/80">Before</p>
                <ul
                  class="text-tagline-2 list-inside list-disc space-y-4 font-normal text-white/60"
                >
                  <li>Manual product recommendations with limited personalization.</li>
                  <li>Generic marketing campaigns lacking customer insights.</li>
                  <li>Slow response to market trends and customer behavior changes.</li>
                  <li>High cart abandonment rates due to poor user experience.</li>
                  <li>Inventory and pricing decisions made from guesswork, not data.</li>
                </ul>
              </div>
            </div>
            <div class="h-full flex-1" data-opai-animate data-delay="0.2" data-direction="right">
              <div
                class="border-stroke-1/11 bg-background-13/90 h-full rounded-sm border px-6 py-8"
                style="background-color: #0c131a;"
              >
                <p class="text-sora-heading-5 mb-8 font-normal text-white/80">After</p>
                <ul
                  class="text-tagline-2 list-inside list-disc space-y-4 font-normal text-white/60"
                >
                  <li>Hyper-personalized product recommendations that boost conversions.</li>
                  <li>Data-driven marketing powered by predictive analytics.</li>
                  <li>Real-time adaptation to customer preferences and buying patterns.</li>
                  <li>Smarter checkout flows reducing cart abandonment.</li>
                  <li>AI-optimized inventory, pricing, and supply chain efficiency.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div data-opai-animate data-delay="0.1">
          <h2 class="lg:text-sora-heading-5 text-sora-heading-6 mb-6 font-normal text-white">
            Technologies used
          </h2>

          <p class="text-tagline-2 mb-4 font-normal text-white/60">
            Driving Innovation with Advanced Tools
          </p>
          <ul class="mb-2 list-inside list-disc space-y-2">
            <li class="text-tagline-2 font-normal text-white/60">
              <span class="text-tagline-1 font-normal text-white/80"> AI frameworks: </span>
              TensorFlow, PyTorch
            </li>
            <li class="text-tagline-2 font-normal text-white/60">
              <span class="text-tagline-1 font-normal text-white/80">E-commerce tools: </span>
              Shopify, WooCommerce Integrations
            </li>
            <li class="text-tagline-2 font-normal text-white/60">
              <span class="text-tagline-1 font-normal text-white/80">Analytics platforms: </span>
              Google Analytics, Power BI
            </li>
          </ul>
        </div>
        <div data-opai-animate data-delay="0.2">
          <h2 class="lg:text-sora-heading-5 text-sora-heading-6 mb-6 font-normal text-white">
            Client Feedback:
          </h2>
          <div class="relative min-h-[238px] overflow-hidden rounded-lg p-8">
            <figure class="absolute inset-0 size-full">
              <img
                src="./images/gradient/opai-34.png"
                alt="gradient"
                class="size-full object-cover"
                  loading="lazy"
              />
            </figure>
            <div class="relative z-10 space-y-4">
              <div class="flex flex-col items-center justify-center gap-y-2">
                <figure class="size-12 overflow-hidden rounded-full">
                  <img
                    src="./images/opai-avatar-img-02.png"
                    alt="avatar"
                    class="size-full object-cover"
                  loading="lazy"
                  />
                </figure>
                <div class="text-center">
                  <p class="text-is-heading-6 font-normal text-white">Emma Taylor</p>
                  <p class="text-tagline-3 font-normal text-white/60">CMO</p>
                </div>
              </div>
              <blockquote
                class="text-tagline-2 mx-auto max-w-2xl text-center font-normal text-white/90"
              >
                The AI solutions from Rightway Systems transformed our operations. We've never seen such fast,
                impressive growth! -
                <span class="text-it-heading-6 font-normal text-white/90"
                  >Sarah Mitchell, VP of E-commerce, NovaRetail</span
                >
              </blockquote>
            </div>
          </div>
        </div>
        <div data-opai-animate data-delay="0.2">
          <p class="text-tagline-2 font-normal text-white/60">
            With AI precision, e-commerce platforms now understand every customer’s intent and
            behavior. Product recommendations adapt in real time, marketing campaigns auto-optimize
            for maximum ROI, and customer interactions feel personal at every touchpoint. The
            result—higher engagement, stronger conversions, and a seamless shopping experience
            powered by intelligent automation.
          </p>
        </div>
      </div>
      <aside
        class="w-full max-w-full xl:max-w-[390px]"
        data-opai-animate
        data-delay="0.2"
        data-direction="right"
      >
        <div
          class="bg-background-6 border-stroke-1/11 relative w-full max-w-[390px] space-y-6 overflow-hidden rounded-2xl border p-8"
         
        >
          <Component src="src/components/services-details/service-gradient.htm" />
          <h3 class="text-sora-heading-5 relative z-10 font-normal text-white/90">Details</h3>
          <div class="relative z-10">
            <div class="border-stroke-1/11 flex items-center justify-between border-b py-3">
              <p class="text-tagline-2 flex items-center gap-x-1.5 font-normal text-white/80">
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                  >
                    <path
                      d="M8 10C10.2091 10 12 8.20914 12 6C12 3.79086 10.2091 2 8 2C5.79086 2 4 3.79086 4 6C4 8.20914 5.79086 10 8 10Z"
                      stroke="white"
                      stroke-opacity="0.6"
                      stroke-miterlimit="10"
                    />
                    <path
                      d="M1.9375 13.4994C2.55222 12.4354 3.43613 11.5519 4.50043 10.9376C5.56472 10.3234 6.77192 9.99999 8.00076 10C9.22959 10 10.4368 10.3234 11.5011 10.9377C12.5654 11.552 13.4492 12.4355 14.0639 13.4995"
                      stroke="white"
                      stroke-opacity="0.6"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
                <span>Client</span>
              </p>
              <p class="text-tagline-3 font-normal text-white/60">Alex Jonson</p>
            </div>
            <div class="border-stroke-1/11 flex items-center justify-between border-b py-3">
              <p class="text-tagline-2 flex items-center gap-x-1.5 font-normal text-white/80">
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                  >
                    <path
                      d="M13 2.5H3C2.72386 2.5 2.5 2.72386 2.5 3V13C2.5 13.2761 2.72386 13.5 3 13.5H13C13.2761 13.5 13.5 13.2761 13.5 13V3C13.5 2.72386 13.2761 2.5 13 2.5Z"
                      stroke="white"
                      stroke-opacity="0.6"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M11 1.5V3.5"
                      stroke="white"
                      stroke-opacity="0.6"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M5 1.5V3.5"
                      stroke="white"
                      stroke-opacity="0.6"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M2.5 5.5H13.5"
                      stroke="white"
                      stroke-opacity="0.6"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
                <span>Year</span>
              </p>
              <p class="text-tagline-3 font-normal text-white/60">2025</p>
            </div>
            <div class="border-stroke-1/11 flex items-center justify-between border-b py-3">
              <p class="text-tagline-2 flex items-center gap-x-1.5 font-normal text-white/80">
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="11"
                    height="13"
                    viewBox="0 0 11 13"
                    fill="none"
                  >
                    <path
                      d="M10.5 11.5V1.5C10.5 0.947715 10.0523 0.5 9.5 0.5L1.5 0.5C0.947715 0.5 0.5 0.947715 0.5 1.5V11.5C0.5 12.0523 0.947715 12.5 1.5 12.5H9.5C10.0523 12.5 10.5 12.0523 10.5 11.5Z"
                      stroke="white"
                      stroke-opacity="0.6"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
                <span>Services</span>
              </p>
              <p class="text-tagline-3 font-normal text-white/60">2025</p>
            </div>
            <div class="border-stroke-1/11 flex items-center justify-between border-b py-3">
              <p class="text-tagline-2 flex items-center gap-x-1.5 font-normal text-white/80">
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                  >
                    <path
                      d="M8 8.5C9.10457 8.5 10 7.60457 10 6.5C10 5.39543 9.10457 4.5 8 4.5C6.89543 4.5 6 5.39543 6 6.5C6 7.60457 6.89543 8.5 8 8.5Z"
                      stroke="white"
                      stroke-opacity="0.6"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M13 6.5C13 11 8 14.5 8 14.5C8 14.5 3 11 3 6.5C3 5.17392 3.52678 3.90215 4.46447 2.96447C5.40215 2.02678 6.67392 1.5 8 1.5C9.32608 1.5 10.5979 2.02678 11.5355 2.96447C12.4732 3.90215 13 5.17392 13 6.5V6.5Z"
                      stroke="white"
                      stroke-opacity="0.6"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
                <span>Location</span>
              </p>
              <p class="text-tagline-3 font-normal text-white/60">Miami</p>
            </div>
            <div class="flex items-center justify-between py-3">
              <p class="text-tagline-2 flex items-center gap-x-1.5 font-normal text-white/80">
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                  >
                    <path
                      d="M8 13.5C11.0376 13.5 13.5 11.0376 13.5 8C13.5 4.96243 11.0376 2.5 8 2.5C4.96243 2.5 2.5 4.96243 2.5 8C2.5 11.0376 4.96243 13.5 8 13.5Z"
                      stroke="white"
                      stroke-opacity="0.6"
                      stroke-miterlimit="10"
                    />
                    <path
                      d="M8 7.99831L10.4749 5.52344"
                      stroke="white"
                      stroke-opacity="0.6"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M6.5 0.5H9.5"
                      stroke="white"
                      stroke-opacity="0.6"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
                <span>Duration</span>
              </p>
              <p class="text-tagline-3 font-normal text-white/60">3 Weeks</p>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>




