<section class="pt-28 pb-39">
  <div class="main-container">
    <div class="mb-[70px] text-center">
      <h3
        data-opai-split-text
        class="lg:text-sora-heading-4 text-sora-heading-5 mb-1 font-normal text-white/90"
      >
        Related articles
      </h3>
      <p
        data-opai-split-text
        data-delay="0.2"
        data-line-delay="0.1"
        class="text-tagline-2 font-normal text-white/60"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>
    <div class="grid grid-cols-12 gap-x-5 gap-y-8 xl:gap-x-8">
      <article
        data-opai-animate
        data-delay="0"
        class="group underline-hover-effect col-span-12 md:col-span-6 lg:col-span-4"
      >
        <figure class="max-w-full overflow-hidden rounded-lg xl:min-h-[430px]">
          <img
            src="./images/opai-img-500.jpg"
            alt="5 AI tools every business needs to streamline operations"
            class="h-full w-full object-cover transition-all duration-500 ease-in-out group-hover:scale-104 group-hover:rotate-1"
                  loading="lazy"
          />
        </figure>
        <div class="pt-4 pl-3">
          <p class="text-tagline-4 font-normal text-white/80">5/8/2025</p>
          <div class="mt-4 mb-2 flex items-center gap-x-2">
            <span
              class="text-tagline-3 inline-flex items-center rounded-full bg-white/5 px-3 py-1 text-white/50"
            >
              Press
            </span>
            <span
              class="text-tagline-3 inline-flex items-center rounded-full bg-white/5 px-3 py-1 text-white/50"
            >
              Blog
            </span>
          </div>
          <a href="./blog-details.html" class="blog-title block">
            <h3 class="text-sora-heading-6 block font-normal text-white/90">
              5 AI tools every business needs to streamline operations
            </h3>
          </a>
        </div>
      </article>
      <article
        data-opai-animate
        data-delay="0.1"
        class="group underline-hover-effect col-span-12 md:col-span-6 lg:col-span-4"
      >
        <figure class="max-w-full overflow-hidden rounded-lg xl:min-h-[430px]">
          <img
            src="./images/opai-img-501.jpg"
            alt="A beginner's guide to automating workflows with AI"
            class="h-full w-full object-cover transition-all duration-500 ease-in-out group-hover:scale-104 group-hover:rotate-1"
                  loading="lazy"
          />
        </figure>
        <div class="pt-4 pl-3">
          <p class="text-tagline-4 font-normal text-white/80">5/8/2025</p>
          <div class="mt-4 mb-2 flex items-center gap-x-2">
            <span
              class="text-tagline-3 inline-flex items-center rounded-full bg-white/5 px-3 py-1 text-white/50"
            >
              Press
            </span>
            <span
              class="text-tagline-3 inline-flex items-center rounded-full bg-white/5 px-3 py-1 text-white/50"
            >
              Blog
            </span>
          </div>
          <a href="./blog-details.html" class="blog-title block">
            <h3 class="text-sora-heading-6 block font-normal text-white/90">
              A beginner's guide to automating workflows with AI
            </h3>
          </a>
        </div>
      </article>
      <article
        data-opai-animate
        data-delay="0.2"
        class="group underline-hover-effect col-span-12 md:col-span-6 lg:col-span-4"
      >
        <figure class="max-w-full overflow-hidden rounded-lg xl:min-h-[430px]">
          <img
            src="./images/opai-img-502.jpg"
            alt="5 AI tools every business needs to streamline operations"
            class="h-full w-full object-cover transition-all duration-500 ease-in-out group-hover:scale-104 group-hover:rotate-1"
                  loading="lazy"
          />
        </figure>
        <div class="pt-4 pl-3">
          <p class="text-tagline-4 font-normal text-white/80">5/8/2025</p>
          <div class="mt-4 mb-2 flex items-center gap-x-2">
            <span
              class="text-tagline-3 inline-flex items-center rounded-full bg-white/5 px-3 py-1 text-white/50"
            >
              Press
            </span>
            <span
              class="text-tagline-3 inline-flex items-center rounded-full bg-white/5 px-3 py-1 text-white/50"
            >
              Blog
            </span>
          </div>
          <a href="./blog-details.html" class="blog-title block">
            <h3 class="text-sora-heading-6 block font-normal text-white/90">
              5 AI tools every business needs to streamline operations
            </h3>
          </a>
        </div>
      </article>
    </div>
  </div>
</section>



